/* play-styles.css */
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Tinos', serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e6c156;
  /*  background-image: url('https://i.stack.imgur.com/kx8MT.gif');*/

}

body::after{
    content: '';
    background-image: url('historicplc.jpg');
    background-size: cover;
    animation: slideshow 5s linear infinite; 
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    position:absolute;
    z-index: 99;
}
@keyframes slideshow{

    /*0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: -200%;
    }*/
    /*75%{background-position-x:-100%}*/
    100%{background-position-x:100vw }

}

.img-bg{
    z-index: 999;
}


.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    
}


h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
    width:500px;
}

.resetButton {
    position: fixed;
    top: 10px;
    left: 10px;
}
  
.title {
   position:fixed;
    /*width: 100%;*/
    top: 0%;
    padding-left: 20px;
}

ul.options {
    list-style-type: none;
    padding: 0;
}

ul.options li {
    margin-bottom: 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

input[type="submit"] {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    -webkit-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
}

input[type="submit"]:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

input[type="submit"]:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}


a {
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: .25rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
a:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}





.options{
    display:grid;
    grid-template-columns: auto auto;
    gap:15px;
    width:400px;
    margin:0 5px;
}

input[type="radio"]
{
    display:none;
}

label {    
    width:225px;
    height:50px;
    text-align:center;
    margin:0;
    padding-top:12px;
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

label:hover{
    background-color: #ffd24c;
}

label:has(> input:checked){
    background-color: #ffd24c;
}

.rightLabel {
    background-color: #f9f9f9;
}
.git-btn{
    background-color: transparent;
    position: fixed;
    bottom: 30px;
    right: 0px;
}
/* Add styles for the GitHub icon */
.github-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    text-decoration: none;
}

.github-icon img {
    width: 50px; /* Adjust the width and height as needed */
    height: 50px;
}
._1kDr3_UHgHl96VVs-_Zt65.SVGInline > .SVGInline-svg {
    font-size: 230%;
}

a > .SVGInline > .SVGInline-svg {
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
}