body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-family: 'Tinos', serif;
}

header {
    background-color: #3498db;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.start-button {
    background-color: #2ecc71;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #27ae60;
}

/* Add styles for the GitHub icon */
.github-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    text-decoration: none;
}

.github-icon img {
    width: 50px; /* Adjust the width and height as needed */
    height: 50px;
}
